#extends master
#attr title = "Die Indexseite"
#attr content = "Dummytext, der auf der Indexseite zu finden ist"

#block main
  <p>
    $content
  </p>
  <p>
    Dieser Text kommt von der Vorlage "index.tmpl". Dieser Text
    wird nicht von CherryPy ersetzt.
  </p>
#end block main

